* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

/*container*/

.container {
    background: url("img/background.jpeg");
    padding-bottom: 140px;
}

#cabecalho {
    padding: 28px 56px;
}

#botao-entrar {
    background: #e50914;
    border: none;
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

#botao-entrar:hover {
    opacity: 0.6;
    transition: all 0.5s;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 64px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

#paragrafo-assista {
    font-size: 24px;
    text-align: center;
    margin-top: 14px;
}

#paragrafo-pronto {
    font-size: 20px;
    text-align: center;
    margin-top: 24px;
}

#formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
}

input {
    width: 500px;
    padding-left: 10px;
    border: none;
    color: #000;
    font-size: 18px;
}
input:focus {
    outline: none;
}

#seta {
    margin-left: 20px;
    margin-top: 8px;
}

#botao-email {
    width: 250px;
    background-color: #e50914;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

#botao-email:hover {
    opacity: 0.6;
    transition: all 0.5s;
}

#rodape {
    background-color: #000000;
    border-top: 10px solid #303030 ;
    padding: 70px 0;
}

h2 {
    font-size: 50px;
    text-align: center;
}

#botao-pergunta {
    width: 800px;
    background-color: #303030;
    height: 70px;
    border: 0;
    font-size: 24px;
    margin-top: 40px;
    text-align: left;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

#imagem-pergunta {
    float: right;
    margin-top: 8px;
    transform: rotate(45deg);
}

#imagem-pergunta-girar {
    float: right;
    margin-top: 8px;
    transform: rotate(90deg);
}

#pergunta {
    width: 800px;
    background-color: #303030;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    padding: 24px;
    display: none;
}

.paragrafo-pergunta {
    font-size: 24px;
}